# 시스템 파일
AppData/
Downloads/
.vscode/
.cursor/
.claude-server-commander/
.dbus-keyrings/
.gitconfig
.lesshst
NTUSER.DAT*
ntuser.*
*.ini
*.LOG*

# Windows 시스템 폴더
Contacts/
CrossDevice/
Favorites/
Links/
Music/
Saved Games/
Searches/
Videos/
Documents/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작 메뉴/

# 기타
*.blf
*.regtrans-ms

